.row
  .columns.ten.end
    %p
      %strong Name:
      = @hackathon.name
    %p
      %strong Description:
      = @hackathon.description
    %p
      %strong Starts at:
      = @hackathon.starts_at
    %p
      %strong Ends at:
      = @hackathon.ends_at
    %p
      %strong Judging starts at:
      = @hackathon.judging_starts_at
    %p
      %strong Judging ends at:
      = @hackathon.judging_ends_at

    %p
      %strong Judges:
      = @hackathon.judges.map{|j| link_to j.github_name, "https://github.com/#{j.github_name}", :target => '_gh_user'}.join(', &nbsp;').html_safe